@import 'tailwindcss';

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

:root {
  --navbar-height: 100px;
}
